
{% extends 'app/base.html' %}
{% block content %}


    <div class="jumbotron bg-transparent mb-0 pt-5 radius-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h1 style="background-color:#000000A4;" class="py-5 display-1 bold color_white content__title">404 N07 F0UND<span class="vim-caret">&nbsp;</span></h1>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>
