<!--Base.html is a file that we'll be extending in our html files.It has the common HTML code for HTML files-->

{% load static %}
<!--To load our static files from the location specified in settings.py-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--    <link rel="stylesheet" href="{% static 'app/main.css' %}">-->

    <link rel="stylesheet" href= "{% static 'app/css/bootstrap4-neon-glow.min.css' %}" >


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">

    <title>BotCode</title>
</head>

<body>
    <!--You can add navbar code here-->

 <div class="glitch">
        <div style="position: fixed;" class="glitch__img "></div>
        <div style="position: fixed;" class="glitch__img"></div>
        <div style="position: fixed;" class="glitch__img "></div>
        <div style="position: fixed;" class="glitch__img "></div>
        <div style="position: fixed;" class="glitch__img "></div>
    </div>
    <div class="navbar-dark text-white">
        <div class="container">
            <nav class="navbar px-0 navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a href="index.html" class="pl-md-0 p-3 text-decoration-none text-light">
                            <h3 class="bold"><span class="color_danger">BOT</span><span class="color_white">CODERS</span></h3>
                        </a>
                    </div>
                    <div class="navbar-nav ml-auto">
                           <a href="/" class="p-3 text-decoration-none text-white bold">Home</a>
                            <a href="/about" class="p-3 text-decoration-none text-light bold">About</a>
                            <a href="/search" class="p-3 text-decoration-none text-light bold">Search</a>
                            <a href="/developers" class="p-3 text-decoration-none text-light bold">Developers</a>

                    </div>
                </div>
            </nav>

        </div>
    </div>
    <div class="container">

        {% block content %}
        <!--HTML code of other files will be included here-->
        {% endblock content %}

    </div>

    <footer>
        <div class="py-4">
          <div class="container text-center">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="credits">
                  <a href="#">Privacy Policy</a> | <a href="#">Terms & Condition</a>
                </div>
                <div class="copyright">
                  <p>
                    &copy; Copyright 2020 | <strong><a href="#"> BotCoders </a></strong> | All Rights Reserved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
