{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="speakers-section" >
        <div class="container">
 
 <h1 class="display-1 bold color_white content__title text-center"><span class="color_danger">OUR </span>TEAM<span class="vim-caret">&nbsp;</span></h1><br><br>
            <div class="row justify-content-center">
 
                <div class="speaker-block col-lg-4 col-md-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'app/images/apoorve.jpg' %}"  alt="IMG">
                                <div class="social-links">
                                    <ul>
                                       <li><a target = '_blank' href="https://www.linkedin.com/in/apoorve-goyal/"><span class="fab fa-linkedin"></span></a></li>
                                       <li><a target = '_blank' href="https:www.githib.com/apoorve73"><span class="fab fa-github"></span></a></li>
                                    </ul>
                                </div>
                            </figure>
                        </div>
                        <div class="caption-box">
                            <h2 class="name"> APOORVE GOYAL </h2>
                        </div>
                    </div>
                </div>
 
 
                <div class="speaker-block col-lg-4 col-md-12" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'app/images/maaz.jpg' %}"  alt="IMG">
                                <div class="social-links">
                                    <ul>
                                       <li><a target = '_blank' href="https://www.linkedin.com/in/maaz-bin-asad-8a56a2196"><span class="fab fa-linkedin"></span></a></li>
                                       <li><a target = '_blank' href="https://github.com/maaz-bin-asad"><span class="fab fa-github"></span></a></li>
                                    </ul>
                                </div>
                            </figure>
                        </div>
                       <div class="caption-box">
                            <h2 class="name"> MAAZ BIN ASAD </h2>
                        </div>
                    </div>
                </div>
    <div class="speaker-block col-lg-4 col-md-12" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'app/images/basith.jpg' %}"  alt="IMG">
                                <div class="social-links">
                                    <ul>
                                       <li><a target = '_blank' href="https://www.linkedin.com/in/abdul-basith007"><span class="fab fa-linkedin"></span></a></li>
                                       <li><a target = '_blank' href="https://github.com/abdulbasith007"><span class="fab fa-github"></span></a></li>
                                    </ul>
                                </div>
                            </figure>
                        </div>
                       <div class="caption-box">
                            <h2 class="name"> ABDUL BASITH </h2>
                        </div>
                    </div>
                </div>
 
  <div class="speaker-block col-lg-4 col-md-12" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'app/images/ankit.jpg' %}"  alt="IMG">
                                <div class="social-links">
                                    <ul>
                                       <li><a target = '_blank' href="https://www.linkedin.com/in/ankit1598/"><span class="fab fa-linkedin"></span></a></li>
                                       <li><a target = '_blank' href="https://github.com/Ankit1598"><span class="fab fa-github"></span></a></li>
                                    </ul>
                                </div>
                            </figure>
                        </div>
                        <div class="caption-box">
                            <h2 class="name"> Ankit Chaudhari </h2>
                        </div>
                    </div>
                </div>
 
                <div class="speaker-block col-lg-4 col-md-12" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'app/images/rutuja.jpg' %}"  alt="IMG">
                                <div class="social-links">
                                    <ul>
                                       <li><a target = '_blank' href="https://github.com/rutujadhanawade"><span class="fab fa-linkedin"></span></a></li>
                                       <li><a target = '_blank' href="https://www.linkedin.com/in/rutuja-dhanawade-4a9272187"><span class="fab fa-github"></span></a></li>
                                    </ul>
                                </div>
                            </figure>
                        </div>
                        <div class="caption-box">
                            <h2 class="name"> Rutuja Dhanawade </h2>
                        </div>
                    </div>
                </div>

                <div class="speaker-block col-lg-4 col-md-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'app/images/abhishekguptapro.jpg' %}"  alt="IMG">
                                <div class="social-links">
                                    <ul>
                                       <li><a target = '_blank' href="https://www.linkedin.com/in/abhishekapk"><span class="fab fa-linkedin"></span></a></li>
                                       <li><a target = '_blank' href="https:www.githib.com/abhishekapk"><span class="fab fa-github"></span></a></li>
                                    </ul>
                                </div>
                            </figure>
                        </div>
                        <div class="caption-box">
                            <h2 class="name"> ABHISHEK KUMAR GUPTA </h2>
                        </div>
                    </div>
                </div>

                <div class="speaker-block col-lg-4 col-md-12" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="{% static 'app/images/_peeyush.jpg' %}"  alt="IMG">
                                <div class="social-links">
                                    <ul>
                                       <li><a target = '_blank' href="https://www.linkedin.com/in/peeyush-dangi-8a1570160/"><span class="fab fa-linkedin"></span></a></li>
                                       <li><a target = '_blank' href="https://github.com/Peeyush19999"><span class="fab fa-github"></span></a></li>
                                    </ul>
                                </div>
                            </figure>
                        </div>
                        <div class="caption-box">
                            <h2 class="name"> PEEYUSH DANGI </h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
 
{% endblock content %}
 