:root {
    --color-text: #fff;
    --color-bg: #000;
    --color-link: #f9d77e;
    --color-link-hover: #fff;
    --color-info: #efc453;
    --glitch-width: 100vw;
    --glitch-height: 100vh;
    --gap-horizontal: 10px;
    --gap-vertical: 5px;
    --time-anim: 4s;
    --time-anim-1: 4.5s;
    --delay-anim: 3.5s;
    --delay-anim-1: 7s;
    --blend-mode-1: none;
    --blend-mode-2: none;
    --blend-mode-3: none;
    --blend-mode-4: none;
    --blend-mode-5: overlay;
    --blend-color-1: transparent;
    --blend-color-2: transparent;
    --blend-color-3: transparent;
    --blend-color-4: transparent;
    --blend-color-5: #af4949;
}

@font-face {
    font-family: "PhelixBoomgartner";
    src: url("../fonts/PhelixBoomgartner.otf") format("opentype")
}

@font-face {
    font-family: "DoctorGlitch";
    src: url("../fonts/Doctor\ Glitch.otf") format("opentype")
}

* {
    transition: all 0.3s ease;
    letter-spacing: 0.125em;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

body {
    background-image: url(../images/bg--world.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat!important;
    background-position-x: 350px;
    background-color: #00040d;
}
.sec-title{
    position:relative;
    margin-bottom:60px;
}

.sec-title .title{
    position: relative;
    display: block;
    color: #007bff;
    margin-bottom: 30px;
}

.speakers-section{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 145px 0 90px;
    overflow:hidden;
}

.speaker-block{
    position: relative;
    margin-bottom: 40px;
}

.speaker-block .inner-box{
    position: relative;
}

.speaker-block .image-box{
    position: relative;
    padding: 20px;
    background-color: rgba(255,255,255,.15);
    overflow: hidden;
}

.speaker-block .image-box .image:after,
.speaker-block .image-box:before{
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: #ffffff;
    content: "";
    transition: all 700ms ease;
}

.speaker-block .inner-box:hover .image-box .image:after,
.speaker-block .inner-box:hover .image-box:before{
    height: 100%;
}

.speaker-block .image-box .image:after{
    opacity: .40;
    z-index: 1;
    top: auto;
    bottom: 0;
    background-color: #1d1e2f;
}

.speaker-block .image-box .image{
    position: relative;
    margin-bottom: 0;
    z-index: 1;
    overflow: hidden;
}
.speaker-block .image-box .image img{
    display: block;
    width: 100%;
    height: 387px;
    object-fit: cover;
}

.speaker-block .social-links li .fab {
    font-size: 50px;
}

.speaker-block .social-links{
    position: absolute;
    left: 0;
    bottom: -140px;
    padding: 20px;
    width: 100%;
    z-index: 9;
    transition: all 700ms ease;
}

.speaker-block .social-links ul{
    position: relative;
    padding: 30px 20px;
    text-align: center;
    background-color: #007bff;
}

.speaker-block .social-links li{
    position: relative;
    display: inline-block;
    margin: 0 9px;
}

.speaker-block .social-links li a{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    transition: all 300ms ease;
}

.speaker-block .social-links li a:hover{
    color: #ffffff;
}

.speaker-block .inner-box:hover .social-links{
    bottom: 0;
}

.speaker-block .caption-box{
    position: relative;
    padding-top: 30px;
    text-align: center;
}

.speaker-block .caption-box .name{
    position: relative;
    display: block;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 10px;
}

.speaker-block .caption-box .name a{
    color: #ffffff;
    display: inline-block;
    transition: all 300ms ease;
}

.speaker-block .caption-box .name a:hover{
    color: #fff;
}

.speaker-block .caption-box .designation{
    position: relative;
    display: block;
    color: #ffffff;
    font-weight: 400;
    opacity: .70;
}

ul {
      margin: 0;
      padding: 0;
      list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
#rightImage {
    width:100%;
    height:95vh;
    background:linear-gradient(0deg,rgba(255, 44, 90, 0.8),rgba(2255, 44, 90, 0.8)),url("https://images.unsplash.com/photo-1506057527569-6a0285b2fcc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=60") center center;
    background-size:cover;
    background-repeat:no-repeat;
}
.hackerFont {
    font-family: Hack, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.color_danger {
    color: #007bff;
}

.color_white {
    color: white;
}

.bold {
    font-weight: bold;
}

h1 {
    font-family: 'PhelixBoomgartner'!important;
}

button.typewriter {
    max-width: 0%;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* margin: 0 auto; */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: expand 1s steps(140, end), blink-caret .75s step-end infinite;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.typewriter h4 {
    width: 0%;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* margin: 0 auto; */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 0.5s steps(140, end), blink-caret .75s step-end infinite;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}


/* The typing effect */

@keyframes expand {
    0% {
        max-width: 0%
    }
    10% {
        max-width: 10%
    }
    15% {
        max-width: 0%
    }
    20% {
        max-width: 12%
    }
    30% {
        max-width: 15%
    }
    40% {
        max-width: 25%
    }
    50% {
        max-width: 30%
    }
    60% {
        max-width: 45%
    }
    70% {
        max-width: 65%
    }
    80% {
        max-width: 85%
    }
    100% {
        max-width: 100%;
    }
}


/* The typing effect */

@keyframes typing {
    0% {
        width: 0%
    }
    10% {
        width: 10%
    }
    15% {
        width: 0%
    }
    20% {
        width: 0%
    }
    30% {
        width: 15%
    }
    40% {
        width: 25%
    }
    45% {
        width: 15%
    }
    50% {
        width: 30%
    }
    60% {
        width: 45%
    }
    70% {
        width: 65%
    }
    80% {
        width: 85%
    }
    100% {
        width: 100%;
    }
}

.content__title {
    animation-name: glitch-anim-text;
    animation-duration: var(--time-anim);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
}

.content__title2 {
    animation-name: glitch-anim-text-2;
    animation-duration: var(--time-anim-1);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.35);
}


/* glitch effect */

@keyframes glitch-anim-text {
    0% {
        /* transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1); */
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    2% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    4% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    6% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    7% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    8% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    9% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    9.9% {
        /* transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1); */
    }
    10%,
    100% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes glitch-anim-text-2 {
    0% {
        -webkit-clip-path: polygon(0 40%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 40%, 100% 20%, 100% 21%, 0 21%);
    }
    2% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 73%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 73%, 0 33%);
    }
    4% {
        -webkit-clip-path: polygon(0 44%, 100% 82%, 100% 44%, 0 0%);
        clip-path: polygon(0 44%, 100% 44%, 100% 82%, 0 0%);
    }
    5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    6% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    7% {
        -webkit-clip-path: polygon(0 11%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 11%, 100% 80%, 100% 80%, 0 80%);
    }
    8% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    9% {
        -webkit-clip-path: polygon(0 70%, 20% 70%, 100% 40%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 20% 40%, 0 80%);
    }
    9.9% {}
    10%,
    100% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.glitch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.glitch__img {
    position: absolute;
    background-size:cover;
    width:100vw;
    height:100vh;
    top: calc(-1 * var(--gap-vertical));
    left: calc(-1 * var(--gap-horizontal));
    width: calc(100% + var(--gap-horizontal) * 2);
    height: calc(100% + var(--gap-vertical) * 2);
    background: url(../images/bg2.jpg);
    transform: translate3d(0, 0, 0);
    background-blend-mode: var(--blend-mode-1);
     background: url(../images/bg--world.png)!important;

    background-repeat: no-repeat!important;
    background-position-x: 350px;
}

.glitch__img_login {
    background: url(../images/bg--world.png)!important;
}


.glitch__img_404 {
    background: url(../images/bg--world.png)!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    background-position: center!important;
}


.glitch__img_register {
    position: fixed!important;
}

.glitch__img:nth-child(n+2) {
    opacity: 0;
}

.imgloaded .glitch__img:nth-child(n+2) {
    animation-duration: var(--time-anim);
    animation-delay: var(--delay-anim-1);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.imgloaded .glitch__img:nth-child(2) {
    background-color: var(--blend-color-2);
    background-blend-mode: var(--blend-mode-2);
    animation-name: glitch-anim-1;
}

.imgloaded .glitch__img:nth-child(3) {
    background-color: var(--blend-color-3);
    background-blend-mode: var(--blend-mode-3);
    animation-name: glitch-anim-2;
}

.imgloaded .glitch__img:nth-child(4) {
    background-color: var(--blend-color-4);
    background-blend-mode: var(--blend-mode-4);
    animation-name: glitch-anim-3;
}

.imgloaded .glitch__img:nth-child(5) {
    background-color: var(--blend-color-5);
    background-blend-mode: var(--blend-mode-5);
    animation-name: glitch-anim-flash;
}

@keyframes glitch-anim-1 {
    0% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal), 0, 0);
        -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
        clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }
    2% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }
    4% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }
    6% {
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }
    8% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }
    10% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }
    12% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }
    14% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }
    16% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    18% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }
    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal), 0, 0);
    }
    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
        -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
        clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    }
    3% {
        -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
    5% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
        clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    }
    7% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    9% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }
    11% {
        -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
        clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    }
    13% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    15% {
        -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
        clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    }
    17% {
        -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
        clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    }
    19% {
        -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
        clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    }
    20% {
        -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
        clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    }
    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-3 {
    0% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
        clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    }
    1.5% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
        clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    }
    2% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
        clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    }
    2.5% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    3% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
        clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    }
    5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
        clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    }
    5.5% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
        clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    }
    7% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
        clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    }
    8% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }
    9% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
        clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    }
    10.5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
        clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    }
    11% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
        clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    }
    13% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
        clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    }
    14% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
        clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    }
    14.5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
        clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    }
    15% {
        -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
        clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    }
    16% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    18% {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
        clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    }
    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
        clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    }
    21.9% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    }
    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

/*
#preloader {
    width: 100%;
    height: 100%;
}

#preloader {
    background: black;
    color: #ddd;
    padding: 5px;
    box-sizing: border-box;
}

#preloader::-webkit-scrollbar {
    display: none;
}
*/
span.ok,
span.fail,
span.fail:before,
span.ok:before {
    margin-right: 10px;
}

span.ok {
    color: #1EC622;
}

span.fail {
    color: #9966ff;
}

span.ok:before,
span.fail:before {
    content: '[';
}

span.ok:after,
span.fail:after {
    margin-left: 10px;
    content: ']';
}

#main {
    display: none;
}

/*-------------------------------------------*/
.loader {
    display: none;
}
 
.spinner-box {
  width: 300px;
  height: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
 
.solar-system {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.orbit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fafbfC;
    border-radius: 50%;
} 
 
.earth-orbit {
    width: 165px;
    height: 165px;
  -webkit-animation: spin 12s linear 0s infinite;
}
 
.venus-orbit {
    width: 120px;
    height: 120px;
  -webkit-animation: spin 7.4s linear 0s infinite;
}
 
.mercury-orbit {
    width: 90px;
    height: 90px;
  -webkit-animation: spin 3s linear 0s infinite;
}
 
.planet {
    position: absolute;
    top: -5px;
  width: 10px;
  height: 10px;
    border-radius: 50%;
  background-color: #3ff9dc;
}
 
.sun {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffab91;
}
 
.leo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
 
.blue-orbit {
    width: 165px;
    height: 165px;
  border: 3px solid #91daffa5;
  -webkit-animation: spin3D 3s linear .2s infinite;
}
 
.green-orbit {
    width: 120px;
    height: 120px;
  border: 3px solid #91ffbfa5;
  -webkit-animation: spin3D 2s linear 0s infinite;
}
 
.red-orbit {
    width: 90px;
    height: 90px;
  border: 3px solid #ffca91a5;
  -webkit-animation: spin3D 1s linear 0s infinite;
}
 
.white-orbit {
    width: 60px;
    height: 60px;
  border: 2px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}
 
.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}
 
.w2 {
  transform: rotate3D(1, 2, .5, 90deg);
}
 
.w3 {
  transform: rotate3D(.5, 1, 2, 90deg);
}
 
.three-quarter-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #fb5b53;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin .5s linear 0s infinite;
}
 
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}
 
@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}
 
 
/*---------------------------------------------*/

/* Footer */

footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

.copyright-text a:hover {
  text-decoration: underline;
  color: #3EC1D5;
}

.copyright-text a {
  color: #444;
}

.copyright> p {
  margin-bottom: 0;
  color: #fff;
}

.credits {
  padding-top: 5px;
  text-align: center;
}

.credits a {
  color: #fff;
}